{% extends 'Habit/base.html' %}

{% block title %}Список привычек{% endblock %}

{% block content %}
    <h1>Список привычек</h1>
    <ul>
        {% for habit in habits %}
            <li>
                <span style="{% if habit.complete_today %}text-decoration: line-through;{% endif %}">
                    {{ habit.title }} 🔥 {{ habit.streak }}
                </span>

                {% if habit.complete_today %}
                    <a href="{% url 'habit_cancel' habit.pk %}">[✗ Отменить]</a>
                {% else %}
                    <a href="{% url 'habit_complete' habit.pk %}">[✓ Отметить]</a>
                {% endif %}

                <a href="{% url 'habit_update' habit.pk %}">[Ред.]</a>
                <a href="{% url 'habit_delete' habit.pk %}" style="color: red;">[Удалить]</a>
            </li>
        {% empty %}
            <li>Пока нет привычек. Создай первую!</li>
        {% endfor %}
    </ul>
    
{% endblock %}
